<h3>Index</h3>

Topics currently available:
<% if @topics == [] %>
  <% else %>
  
    <a href="/categories/index">Choose a category to make a NEW topic!</a>

  <% @topics.each do |topic| %>
    <div class="topic">
      <br><a href="/topics/<%=topic.id%>"><%= topic.name %></a>
    </div>
  <% end %>

<% end %>

<div class="helper_links">
  <br><br><a href="/">Home</a>
</div>