<h3>Index</h3>

Topics currently available:
<% if @topics == []
  else%>
  <a href="/categories/index">Choose a category to make a NEW topic!</a>
  
  <% @topics.each do |topic| %>
    <br><a href="/topics/<%=topic.id%>"><%= topic.name %></a>
  <% end %>

<% end %>

<br><br><a href="/">Home</a>