<h3>Index</h3>

PLRG's lovely users:
<% if @users == []
  else%>
<% @users.each do |user| %>
  <br><a href="/users/<%=user.id%>"><%= user.username %></a>
<% end %>
<% end %>

<br><br>
<a href="/">Home</a>