<h1>Log-in</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<div class="log_io_form">
  <form action="/login" method="POST">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit"  value="submit">
  </form>
</div>