Create a Resource:
<br>
<% unless locals.empty? %>
  <div class="error">
    <%= message %>
  </div>
<% end %>
<br>
<div class="form">
  <form action="/resources/<%= @topic.id %>/create" method="POST">
    Name:<input type="text" name="name"><br>
    URL:<input type="text" name="url"><br>
    Description: <textarea name="description" id="" cols="30" rows="10"></textarea> <br>
    <input type="submit" value="Create!">
  </form>
</div>