<h3>Index</h3>

Resources currently recommended: <br><br>
<% if @resources == [] %>
  
<% else %>
  <% @resources.each do |resource| %>
      <div class="resource">
        <br><a href="/resources/<%=resource.id%>"><%= resource.name %></a>
      </div>
  <% end %>
<% end %>