Create a Category:
<div class="form">
  <form action="/categories/create" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Create!">
  </form>
</div>
<a href="/categories/index">Cancel</a>