<h3>Index</h3>

<% if @rights[:delete] %>
  <div class="create">
    <a href="/categories/create">Create a new category!</a><br><br>
  </div>
<% end %>

Categories currently available:

<% if @categories == [] && @rights[:delete] %>
  <div class="create">
    Well this is emberrassing. There are none to show at the moment... <a href="/categories/create">Want to make one?</a>
  </div>

<% else %>
  <div class="show">
    <form action="/categories/delete" method="POST">
      <div class="categories"></div>
        <% @categories.each do |category| %>
          <div class="category">
            <br><a href="/categories/<%=category.id%>"><%= category.name %></a>
          </div> <!-- .category -->

          <% if @rights[:delete] %>
            Delete<input type="checkbox" name="delete_categories[<%=category.id%>]">
          <% end %>
              <br>
          <% if @rights[:edit] %>
            <a href="/categories/edit/<%= category.id %>">Edit</a>
          <% end %>

        <% end %>
      </div> <!-- .categories -->
      <% if @rights[:delete]%>
        <br><br><input type="submit" value="submit deletions">
      <% end %>
    </form>

  <div class="helper_links">
    <br><a href="/">Home</a>
  </div>
  </div> <!-- .show -->
  

<% end %>
