<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <% if @user %>
        <%= @user.first_name %>, welcome to the Pre-learning Resource Guide.
      <% else %>
        Welcome to the Pre-Learning Resource Guide. <br>
        Please Log-in to have full access to the great resources on this site.
      <% end %>
    </div>

    <div id="categories">
      <h3><a href="/categories/index">Categories Index</a></h3>
        <p>(spoken language, computer languages, science, etc.)</p>
        <p>Select a topic to find the resources people found most effective for learning that topic.</p>
    </div>

    <div id="topics">
      <h3><a href="/topics/index">Topics Index</a></h3>
        <p>(Mandarin, Algebra, Ruby, etc.)</p>
        <p>Select a topic to find the resources people found most effective for learning that topic.</p>
    </div>

    <div id="resources">
      <h3><a href="/resources/index">Resource Index</a></h3>
        <p>Find a resource you heard about.</p>
    </div>

    <div id="users">
      <h3><a href="/users/index">User Index</a></h3>
        <p>Search for a user. Maybe you're friends, or you're curious what they are up to?</p>
    </div>
  </body>
</html>